In [ ]:
FINALLY STARTED JUPYTER!!

In [1]:
from pathlib import Path as path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [76]:
path_df = path("tour_logs_train.csv")
df=  pd.read_csv(path_df, index_col = "Gig_ID")

df.loc['Gig_0011', ['Venue_ID','Crowd_Energy']]

df.iloc[-1]

Venue_ID                             V_Alpha
Show_DateTime            2024-08-21 19:00:00
Day_of_Week                                2
Volume_Level                             6.0
Ticket_Price                           80.86
Crowd_Size                             744.0
Opener_Rating                              4
Weather                                Clear
Moon_Phase                         Full Moon
Band_Outfit                          Spandex
Merch_Sales_Post_Show                    976
Crowd_Energy                           60.74
Name: Gig_1999, dtype: object

In [77]:
lead_sus= (df['Venue_ID'] == "V_Gamma") & (df['Crowd_Energy'] > 80)
df_1=df.loc[lead_sus, ['Ticket_Price']]
df_1.sort_values(by = 'Ticket_Price', ascending = False)

                  Ticket_Price
Gig_ID
Gig_1448                €77.80
Gig_0092                €75.33
Gig_1364                €74.28
Gig_1124                €73.11
Gig_0692                €72.53
...                        ...
Gig_1020                $57.93
Gig_0302                $56.63
Gig_1523  $56.37 (VIP: $84.55)
Gig_0638               $101.87
Gig_0074               $100.15

[124 rows x 1 columns]

In [78]:
df['E_Des'] = df['Crowd_Energy']/df['Crowd_Size']

In [79]:
df_2 = (df['E_Des'].isna()) | (df['E_Des'] == np.inf)
df_3=df.loc[~df_2, 'Venue_ID' : 'E_Des']
df_3.sort_values(by = 'E_Des', ascending = False)

,Venue_ID,Show_DateTime,Day_of_Week,Volume_Level,Ticket_Price,Crowd_Size,Opener_Rating,Weather,Moon_Phase,Band_Outfit,Merch_Sales_Post_Show,Crowd_Energy,E_Des
Gig_ID,,,,,,,,,,,,,
Gig_0591,V_Delta,2024-05-27 23:00:00,0,11.0,24.02,347.0,1,Clear,Waning Gibbous,Leather,409,999.00,2.878963
Gig_0863,V_Alpha,2024-07-11 19:00:00,3,NaN,76.82,519.0,5,Stormy,Waxing Crescent,Spandex,1033,999.00,1.924855
Gig_1110,V_Alpha,2024-05-28 20:00:00,1,NaN,36.44,543.0,3,Cloudy,Waning Gibbous,Leather,652,999.00,1.839779
Gig_1364,V_Gamma,2024-06-16 23:00:00,6,8.0,€74.28,594.0,1,Cloudy,First Quarter,Denim,766,999.00,1.681818
Gig_0058,V_Gamma,2024-04-22 19:00:00,0,11.0,53,101.0,3,Rainy,Waxing Gibbous,Denim,1186,81.59,0.807822
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Gig_1206,V_Beta,04-27-2024 10:00,5,3.0,68.16,729.0,5,Cloudy,Waning Gibbous,Leather,0,0.00,0.000000
Gig_0218,V_Delta,2024-03-09 19:00:00,5,10.0,31.62,573.0,3,Rainy,Waning Crescent,Denim,1139,-10.00,-0.017452
Gig_0266,V_Delta,2024-03-18 22:00:00,0,3.0,45.19,570.0,1,Clear,First Quarter,Leather,538,-10.00,-0.017544
Gig_0686,V_Alpha,2024-06-04 23:00:00,1,NaN,60.99,-100.0,4,Clear,Waning Crescent,Leather,192,10.46,-0.104600
Gig_1380,V_Beta,2024-08-21 21:00:00,2,9.0,42.81,-100.0,1,Cloudy,Full Moon,Denim,751,48.22,-0.482200

In [80]:
df.columns

Index(['Venue_ID', 'Show_DateTime', 'Day_of_Week', 'Volume_Level',
       'Ticket_Price', 'Crowd_Size', 'Opener_Rating', 'Weather', 'Moon_Phase',
       'Band_Outfit', 'Merch_Sales_Post_Show', 'Crowd_Energy', 'E_Des'],
      dtype='object')

In [81]:
min(df['Crowd_Size'].value_counts(normalize = True ))

0.0005102040816326531

In [82]:
V_group = df.groupby('Venue_ID')

In [83]:
d = V_group.get_group('V_Delta')

In [84]:
 V_group['Ticket_Price'].apply( lambda x: x.str.contains("VIP").sum())

Venue_ID
V_Alpha     0
V_Beta      0
V_Delta     0
V_Gamma    46
Name: Ticket_Price, dtype: int64

In [85]:
V_group['Crowd_Size'].sum()

Venue_ID
V_Alpha    310123.0
V_Beta     303035.0
V_Delta    279807.0
V_Gamma    304275.0
Name: Crowd_Size, dtype: float64

In [86]:
df.dtypes

Venue_ID                  object
Show_DateTime             object
Day_of_Week                int64
Volume_Level             float64
Ticket_Price              object
Crowd_Size               float64
Opener_Rating              int64
Weather                   object
Moon_Phase                object
Band_Outfit               object
Merch_Sales_Post_Show      int64
Crowd_Energy             float64
E_Des                    float64
dtype: object

In [1]:
df['Ticket_Price']=df['Ticket_Price'].str.replace("$","")

NameError: name 'df' is not defined

In [88]:
pd.set_option('display.max_columns', 200)

In [120]:
def currency_conv(df):
    df['Ticket_Price']=df['Ticket_Price'].str.replace("$","")
    df['Ticket_Price']=df['Ticket_Price'].str.replace("USD","")
    df['Ticket_Price']=df['Ticket_Price'].str.replace("Free",'0.0')
    mask = df['Ticket_Price'].str.contains('€', na=False)

    df.loc[mask, 'Ticket_Price'] = (
    df.loc[mask, 'Ticket_Price']
    .str.replace('€', '', regex=False)
    .astype(float)
    * 1.09
    )
    mask = df['Ticket_Price'].str.contains('£', na=False)

    df.loc[mask, 'Ticket_Price'] = (
    df.loc[mask, 'Ticket_Price']
    .str.replace('£', '', regex=False)
    .astype(float)
    * 1.09
    )

    
currency_conv(df1)

0

In [91]:
def timedate():
    mask1 = df['Show_DateTime'].str.contains(
    r'^\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}$',
    na=False
)

    mask2 = df['Show_DateTime'].str.contains(
    r'^\d{2}-\d{2}-\d{4}\s\d{2}:\d{2}$',
    na=False
)

    mask3 = df['Show_DateTime'].str.contains(
    r'^\d{2}/\d{2}/\d{4}\s\d{2}:\d{2}\s[AP]M$',
    na=False
)

    mask4 = df['Show_DateTime'].str.contains(
    r'^[A-Za-z]+\s\d{1,2},\s\d{4}$',
    na=False
)
    valid_mask = mask1|mask2|mask3|mask4
    df.loc[valid_mask, 'Show_DateTime'] = pd.to_datetime(
    df.loc[valid_mask, 'Show_DateTime'],
    errors='coerce',
    dayfirst=True
)

In [105]:
timedate()
# Keep only the rows where Show_DateTime is NOT null
df = df[df['Show_DateTime'].notna()]

In [107]:
df.count()

Venue_ID                 1807
Show_DateTime            1807
Day_of_Week              1807
Volume_Level             1626
Ticket_Price             1807
Crowd_Size               1770
Opener_Rating            1807
Weather                  1807
Moon_Phase               1807
Band_Outfit              1807
Merch_Sales_Post_Show    1807
Crowd_Energy             1807
E_Des                    1770
dtype: int64

In [132]:
df1 = pd.DataFrame(
    {'Ticket_Price':['15.00 USD','$86.56','£48.89','$72.54 (VIP: $108.81)']})

In [133]:
currency_conv(df1)

In [131]:
import re
def price(df):
    

# 1. Force the entire column to string type to avoid 'NaN' on numeric rows
    df['Ticket_Price'] = df['Ticket_Price'].astype(str).str.strip()

# 2. Extract Normal Price (the first number in the string)
# [\d.]+ handles any number of digits and dots (like 53.2901)
    df['Normal_price'] = df['Ticket_Price'].str.extract(r'^([\d.]+)')[0]

# 3. Extract VIP Price (number following 'VIP:')
    df['VIP_price'] = df['Ticket_Price'].str.extract(r'VIP:\s*([\d.]+)')[0]

# 4. Fill missing VIP prices with the Normal price
    df['VIP_price'] = df['VIP_price'].fillna(df['Normal_price'])

# 5. Convert both to numeric so you can do math later
    df['Normal_price'] = pd.to_numeric(df['Normal_price'], errors='coerce')
    df['VIP_price'] = pd.to_numeric(df['VIP_price'], errors='coerce')

In [135]:
price(df1)

In [136]:
df1

          Ticket_Price  Normal_price  VIP_price
0                15.00       15.0000    15.0000
1                86.56       86.5600    86.5600
2              53.2901       53.2901    53.2901
3  72.54 (VIP: 108.81)       72.5400   108.8100